.deck {
  position: relative;
  width: 780px;
  height: 648px;
  margin: 0 auto;
  border: 1px solid #DDD;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.deck.empty {
  height: 508px;
  padding-top: 140px;
  background: url(speaker-deck-url.png) no-repeat;
}
.deck .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 780px;
  height: 648px;
  background: rgba(255, 255, 255, 0.7);
}


.record-controls {
  text-align: center;
}