/*
  The header images by Olek Poplavsky
  http://www.flickr.com/photos/woodenbits/5732571092/in/photostream
*/
.hero-unit {
  position: relative;
  padding: 70px 0 80px;
  border-radius: 0;
  color: #FFF;
  text-shadow: 0 1px 3px rgba(0,0,0,.7), 0 0 30px rgba(0,0,0,.075);
}
.hero-unit .container {
  position: relative;
  z-index: 2;
}
.hero-unit:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(http://farm6.staticflickr.com/5169/5732571092_59294606f9_b.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0.9;
}
.hero-unit .nav {
  text-shadow: none;
}
.hero-unit h1 {
  margin-bottom: 30px;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1;
}
.hero-unit p {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
  line-height: 1.25;
}
