<% content_for :title, @deck.title %>
<div class="row">
  <div class="span12">
    <%= render(partial: 'decks/narrated',
        locals: { deck: @deck }) if @deck.narrated? %>
    <%= render(partial: 'decks/in_progress',
        locals: { deck: @deck }) if @deck.in_progress? %>
    <%= render(partial: 'decks/not_narrated',
        locals: { deck: @deck }) if !@deck.narrated? %>
  </div>
</div>