<div class="container">
  <p class="pull-right">
    All slide content and audio narrations are owned by their creators.<br>
    Cover image by <a href="http://www.flickr.com/photos/woodenbits/5732571092/in/photostream">Olek Poplavsky</a>.
  </p>
  <p>
    &copy; 2012 Speaker Voice. All rights reserved.<br>
    <a href="http://railsrumble.com/entries/57-speaker-voice">Rails Rumble competitor.</a>
  </p>
</div>
